In [104]:
import pandas as pd
import numpy as np
from src.api_functions import *
from src.cleaning_functions import *
from src.analysis_functions import *

In [105]:
csv1 = 'data/population-data.csv'
csv4 = 'data/energy_pop_2020.csv'
csv5 = 'data/pop_avg_rate.csv'

In [106]:
df1 = load_csv(csv1)
df5 = load_csv(csv4)
df6 = load_csv(csv5)

In [107]:
df5.columns

Index(['country', 'population_x', 'ranking', 'world_share', 'year',
       'biofuel_share_elec', 'biofuel_elec_per_capita', 'coal_share_elec',
       'coal_elec_per_capita', 'electricity_generation', 'biofuel_electricity',
       'coal_electricity', 'fossil_electricity', 'gas_electricity',
       'hydro_electricity', 'nuclear_electricity', 'oil_electricity',
       'other_renewable_electricity',
       'other_renewable_exc_biofuel_electricity', 'renewables_electricity',
       'solar_electricity', 'wind_electricity', 'fossil_cons_per_capita',
       'fossil_share_elec', 'gas_share_elec', 'gas_elec_per_capita',
       'hydro_share_elec', 'hydro_elec_per_capita', 'low_carbon_share_elec',
       'low_carbon_electricity', 'low_carbon_elec_per_capita',
       'nuclear_share_elec', 'nuclear_elec_per_capita', 'oil_share_elec',
       'oil_elec_per_capita', 'other_renewables_elec_per_capita',
       'other_renewables_share_elec', 'per_capita_electricity',
       'renewables_elec_per_capita', 'renewables_share_elec',
       'solar_share_elec', 'solar_elec_per_capita', 'wind_share_elec',
       'wind_elec_per_capita'],
      dtype='object')

In [108]:
df5.head()

,country,population_x,ranking,world_share,year,biofuel_share_elec,biofuel_elec_per_capita,coal_share_elec,coal_elec_per_capita,electricity_generation,...,oil_elec_per_capita,other_renewables_elec_per_capita,other_renewables_share_elec,per_capita_electricity,renewables_elec_per_capita,renewables_share_elec,solar_share_elec,solar_elec_per_capita,wind_share_elec,wind_elec_per_capita
0,China,1439323776,1,18.464154,2020,1.700,90.070,60.748,3217.632,7623.696,...,111.384,90.139,1.702,5296.721,1537.208,29.022,3.425,181.405,6.119,324.111
1,India,1380004385,2,17.703184,2020,1.071,10.415,70.563,686.181,1341.967,...,0.096,11.293,1.161,972.437,216.116,22.224,4.376,42.557,4.502,43.779
2,United States,331002651,3,4.246219,2020,1.384,169.348,19.107,2337.762,4049.847,...,87.453,220.496,1.802,12235.088,2501.304,20.444,3.275,400.693,8.310,1016.709
3,Pakistan,220892340,5,2.833685,2020,1.840,12.113,20.157,132.732,145.452,...,156.246,12.113,1.840,658.476,245.336,37.258,0.708,4.664,2.194,14.444
4,Brazil,212559417,6,2.726787,2020,9.037,257.535,3.598,102.532,605.727,...,39.197,257.535,9.037,2849.682,2400.323,84.231,1.254,35.723,9.357,266.644

In [109]:
table_1_elec = df5.drop(['population_x', 'ranking', 'world_share', 'biofuel_share_elec', 'biofuel_elec_per_capita', 
       'coal_share_elec','coal_elec_per_capita','fossil_cons_per_capita','fossil_share_elec', 'gas_share_elec', 
       'gas_elec_per_capita', 'hydro_share_elec', 'hydro_elec_per_capita', 'low_carbon_share_elec',
       'low_carbon_elec_per_capita','nuclear_share_elec', 'nuclear_elec_per_capita', 'oil_share_elec',
       'oil_elec_per_capita', 'other_renewables_elec_per_capita','other_renewables_share_elec', 'per_capita_electricity',
       'renewables_elec_per_capita', 'renewables_share_elec','solar_share_elec', 'solar_elec_per_capita', 'wind_share_elec',
       'wind_elec_per_capita'], axis=1, inplace=False)

In [110]:
table_1_elec.head()
# Fossils = oil, coal, gas
# Low-carbon = solar, hydro, wind, nuclear

,country,year,electricity_generation,biofuel_electricity,coal_electricity,fossil_electricity,gas_electricity,hydro_electricity,nuclear_electricity,oil_electricity,other_renewable_electricity,other_renewable_exc_biofuel_electricity,renewables_electricity,solar_electricity,wind_electricity,low_carbon_electricity
0,China,2020,7623.696,129.640,4631.215,5044.957,253.425,1355.200,366.200,160.317,129.740,0.100,2212.540,261.100,466.500,2578.740
1,India,2020,1341.967,14.373,946.932,999.177,52.112,163.514,44.548,0.133,15.584,1.211,298.242,58.729,60.415,342.790
2,United States,2020,4049.847,56.055,773.806,2431.990,1629.237,285.790,789.919,28.947,72.985,16.930,827.938,132.630,336.533,1617.857
3,Pakistan,2020,145.452,2.676,29.319,81.350,17.517,47.296,9.909,34.514,2.676,0.000,54.193,1.030,3.191,64.102
4,Brazil,2020,605.727,54.742,21.794,82.366,52.240,391.199,13.150,8.332,54.742,0.000,510.211,7.593,56.678,523.361

In [111]:
table_2_share = df5.drop(['population_x', 'ranking','biofuel_elec_per_capita', 'coal_elec_per_capita', 
        'electricity_generation', 'biofuel_electricity','coal_electricity', 'fossil_electricity', 'gas_electricity',
        'hydro_electricity', 'nuclear_electricity', 'oil_electricity','other_renewable_electricity',
        'other_renewable_exc_biofuel_electricity', 'renewables_electricity','solar_electricity', 'wind_electricity',
        'fossil_cons_per_capita','gas_elec_per_capita','hydro_elec_per_capita', 'low_carbon_electricity', 
        'low_carbon_elec_per_capita','nuclear_elec_per_capita', 'oil_elec_per_capita', 'other_renewables_elec_per_capita',
        'per_capita_electricity','renewables_elec_per_capita', 'solar_elec_per_capita', 'wind_elec_per_capita'],
                         axis=1, inplace=False)

In [112]:
table_2_share

,country,world_share,year,biofuel_share_elec,coal_share_elec,fossil_share_elec,gas_share_elec,hydro_share_elec,low_carbon_share_elec,nuclear_share_elec,oil_share_elec,other_renewables_share_elec,renewables_share_elec,solar_share_elec,wind_share_elec
0,China,18.464154,2020,1.700,60.748,66.175,3.324,17.776,33.825,4.803,2.103,1.702,29.022,3.425,6.119
1,India,17.703184,2020,1.071,70.563,74.456,3.883,12.185,25.544,3.320,0.010,1.161,22.224,4.376,4.502
2,United States,4.246219,2020,1.384,19.107,60.051,40.230,7.057,39.949,19.505,0.715,1.802,20.444,3.275,8.310
3,Pakistan,2.833685,2020,1.840,20.157,55.929,12.043,32.517,44.071,6.813,23.728,1.840,37.258,0.708,2.194
4,Brazil,2.726787,2020,9.037,3.598,13.598,8.624,64.583,86.402,2.171,1.375,9.037,84.231,1.254,9.357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Latvia,0.024197,2020,13.890,0.006,38.887,38.881,44.340,61.113,0.000,0.000,13.890,61.113,0.022,2.862
63,Estonia,0.017017,2020,20.665,0.000,64.789,0.824,0.011,35.211,0.000,63.965,20.665,35.211,0.622,13.913
64,Cyprus,0.015488,2020,1.239,0.000,88.814,0.000,0.000,11.186,0.000,88.814,1.239,11.186,4.343,5.605
65,Luxembourg,0.008030,2020,22.719,0.000,28.471,20.406,9.695,71.529,0.000,8.066,22.719,71.529,12.511,26.603
66,Malta,0.005664,2020,0.456,0.000,89.879,88.956,0.000,10.121,0.000,0.923,0.456,10.121,9.662,0.003

In [113]:
table_3_per_capita = df5.drop(['ranking', 'year','biofuel_share_elec', 'coal_share_elec',
       'electricity_generation', 'biofuel_electricity','coal_electricity', 'fossil_electricity', 'gas_electricity',
       'hydro_electricity', 'nuclear_electricity', 'oil_electricity','other_renewable_electricity',
       'other_renewable_exc_biofuel_electricity', 'renewables_electricity','solar_electricity', 'wind_electricity', 
       'fossil_share_elec', 'gas_share_elec','hydro_share_elec', 'low_carbon_share_elec','low_carbon_electricity',
       'nuclear_share_elec', 'oil_share_elec','other_renewables_share_elec','solar_share_elec', 'wind_share_elec'], 
                              axis=1, inplace=False)

In [114]:
table_3_per_capita

,country,population_x,world_share,biofuel_elec_per_capita,coal_elec_per_capita,fossil_cons_per_capita,gas_elec_per_capita,hydro_elec_per_capita,low_carbon_elec_per_capita,nuclear_elec_per_capita,oil_elec_per_capita,other_renewables_elec_per_capita,per_capita_electricity,renewables_elec_per_capita,renewables_share_elec,solar_elec_per_capita,wind_elec_per_capita
0,China,1439323776,18.464154,90.070,3217.632,3505.088,176.072,941.553,1791.633,254.425,111.384,90.139,5296.721,1537.208,29.022,181.405,324.111
1,India,1380004385,17.703184,10.415,686.181,724.039,37.762,118.488,248.398,32.281,0.096,11.293,972.437,216.116,22.224,42.557,43.779
2,United States,331002651,4.246219,169.348,2337.762,7347.342,4922.126,863.406,4887.746,2386.442,87.453,220.496,12235.088,2501.304,20.444,400.693,1016.709
3,Pakistan,220892340,2.833685,12.113,132.732,368.281,79.303,214.114,290.195,44.859,156.246,12.113,658.476,245.336,37.258,4.664,14.444
4,Brazil,212559417,2.726787,257.535,102.532,387.495,245.766,1840.420,2462.187,61.864,39.197,257.535,2849.682,2400.323,84.231,35.723,266.644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Latvia,1886198,0.024197,429.277,0.182,1201.840,1201.658,1370.357,1888.750,0.000,0.000,429.277,3090.590,1888.750,61.113,0.675,88.441
63,Estonia,1326535,0.017017,994.903,0.000,3119.301,39.687,0.532,1695.232,0.000,3079.613,994.903,4814.532,1695.232,35.211,29.968,669.829
64,Cyprus,1207359,0.015488,64.957,0.000,4657.652,0.000,0.000,586.653,0.000,4657.652,64.957,5244.305,586.653,11.186,227.758,293.938
65,Luxembourg,625978,0.008030,347.301,0.000,435.245,311.946,148.213,1093.460,0.000,123.299,347.301,1528.706,1093.460,71.529,191.261,406.685
66,Malta,441543,0.005664,20.275,0.000,3993.951,3952.949,0.000,449.759,0.000,41.002,20.275,4443.709,449.759,10.121,429.353,0.131

In [115]:
csv6 = 'data/energy-data/owid-energy-data.csv'

In [116]:
df8 = load_csv(csv6)

In [117]:
df8.head()

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1901,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1902,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1903,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1904,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
df_no_nulls_and_unique(df8)

,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,biofuel_share_energy,carbon_intensity_elec,coal_cons_change_pct,...,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy,year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1901
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1902
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1903
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17427,NaN,0.0,0.0,0.0,9.265,0.128,1.363,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,2015
17428,NaN,0.0,0.0,0.0,10.478,0.147,2.154,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,2016
17429,NaN,0.0,0.0,0.0,10.606,0.151,2.066,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,2017
17430,NaN,0.0,0.0,0.0,12.951,0.187,2.048,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,2018
17431,NaN,0.0,0.0,0.0,14.112,0.207,2.285,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,2019

In [119]:
list_1 = df1['country_name']
list_2 = df8['country']
exclusion_list = np.setdiff1d(list_2,list_1)

In [120]:
df8_mod = df8[~df8['country'].isin(exclusion_list)]

In [121]:
df1.rename(columns={"country_name": "country"}, inplace=True)

In [122]:
df1.set_index('country', inplace=True)

In [123]:
df_last = df1.merge(df8_mod, how='inner', on='country')

In [124]:
df_last.set_index('year',drop=True,inplace=True)
df_last = df_last.groupby(['country'],as_index = True).mean()

In [125]:
df_last.isna().sum()

population_x                 0
ranking                      0
world_share                  0
biofuel_cons_change_pct    175
biofuel_cons_change_twh     88
                          ...
wind_elec_per_capita         4
wind_electricity             4
wind_energy_per_capita     121
wind_share_elec              4
wind_share_energy          121
Length: 122, dtype: int64

In [101]:
df_last.dropna(axis=1,how='any',inplace=True)

In [102]:
df_last.head()

,population_x,ranking,world_share,energy_cons_change_twh,energy_per_capita,population_y,primary_energy_consumption
country,,,,,,,
Afghanistan,38928346,37,0.499387,0.776889,838.249054,1.243473e+07,16.182973
Albania,2877797,140,0.036917,-0.364500,12091.896730,1.897892e+06,36.398514
Algeria,43851044,33,0.562537,12.597778,9747.205127,1.619553e+07,290.417782
American Samoa,55191,210,0.000708,-0.008194,43509.483351,5.142500e+04,2.161432
Angola,32866272,44,0.421620,2.418028,2416.211622,8.857576e+06,43.814459

In [127]:
df_last.to_csv('data/energy-var.csv' , index = True)